:root {
  /* Standard Color Palette */
  --text: #eef4f6;
  --background: #040809;
  --background-secondary: #111415;
  --primary: #a2ced8;
  --secondary: #2e717e;
  --accent: #48b0c5;

  /* Typography */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Colors */
  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  /* Accessibility and Rendering */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background);
  color: var(--text);
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--text);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary);
  color: var(--text);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: var(--accent);
  background-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Light Mode Palette */
    --text: #040809;
    --background: #eef4f6;
    --primary: #2e717e;
    --secondary: #a2ced8;
    --accent: #48b0c5;
  }

  body {
    background-color: var(--background);
    color: var(--text);
  }

  a:hover {
    color: var(--accent);
  }

  button {
    background-color: var(--secondary);
    color: var(--text);
  }
}
